
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxl-tumblr' ></i>
                <div class="logo_name">Temperature</div>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div> 
        <ul class="nav-list">
            <li>
                <a href="home">
                    <i class='bx bx-home'></i>
                    <span class="links_name">Accueil</span>
                </a>
                <span class="tooltips">Accueil</span>
            </li>
            <li id="dash">
                <div class="icons-links">
                    <a href="#">
                        <i class='bx bx-line-chart ' ></i>
                        <span class="links_name"><div class="dash">Dashboard</div></span>
                        <div class="arrow"><i class='bx bxs-chevron-down arrow' id="arrow"></i></div>
                    </a>

                </div>
                
                
            <ul class="sub-menu">
                <li>
                    <a href="dashboard">Réfrigérateur_1</a>
                </li>
                <li>
                    <a href="dashboard-2">Réfrigérateur_2</a>
                </li>
                <li>
                    <a href="dashboard-3">Réfrigérateur_3</a>
                </li>
            </ul>
            <span class="tooltips">Dashboard</span>

            </li>
            <li>
                <a href="contact">
                    <i class='bx bx-envelope' ></i>
                    <span class="links_name">Contact</span>
                </a>
                <span class="tooltips">Contact</span>
            </li>
        </ul>
    </div>