<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keyword" content="animations,animated,style,look">
  <title>INPE LOGIN</title>
  <link rel="stylesheet" type="text/css" href="Login/css/login.css">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  
  
</head>
<body>
  <div class="login-form">
    <h1>S'IL VOUS PLAÎT ENTRER LE MOT DE PASSE</h1>
    <span class="lock"><i class='bx bxs-lock' id="lock"></i></span>
    <form action="#" method="post" id="form">
      <div class="input">
        <input   type="password" name="password" placeholder="PASSWORD" id="password" ></div>
      <span class="eye"><i class='bx bxs-show' id="eye" onclick="toggle()"></i></span>
      <span class="passText">Le mot de passe est incorrect!</span>
      <div class="button">
        <button button type="submit" name="password" id='btn'>CONNEXION</button></div>
    </form>
  </div>
  <div class="created">
  <p>crée a l'ISTMT 2022</p></div>
</body>
<script src="Login/js/login.js"></script>
<div id="particles-js"></div>
<script src="Login/js/particles.min.js"></script>
<script src="Login/js/background.js"></script>
</html>