@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

:root{
    --color-main: #396aff;
    --bg2: #dce5ff;
    --bg: #fbfefd;
    --main-accents: #e9eefd;
    --main-text: #4b5876;
    --shadow: rgba(17,17,26,0.1) 2px 2px 16px;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 14px;
    height: 100%;
    width: 78px; 
    background: #11101d;
    transition: all 0.5s ease
}

.sidebar .nav-list li .sub-menu{
    margin-top: -5px;
    display: none;
    transition: all 0.9s easy;
}
.sidebar .nav-list li .sub-menu li a{
    padding-left: 65px;
}

.sidebar #arrow{
    opacity: 0;
}
.sidebar.active #arrow{
    opacity: 1;
}
.sidebar .nav-list li.showMinu .sub-menu{
    display: block ;
}

.sidebar.active .nav-list li.showMinu{
    padding-bottom: 12.5rem;
    transition: all 0.5s easy;
}

.sidebar .nav-list li.showMinu{
    padding-bottom: 0;
    transition: all .5s easy;
}

.sidebar .nav-list li.showMinu i.arrow{
    transform: rotate(-180deg);
    cursor: pointer;
}

.sidebar.active{
    width: 240px;
}


.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    top: 6px;
    left: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltips{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltips{
    display: none;
}

.sidebar ul li:hover .tooltips{
    transition: all 0.5s easy;
    opacity: 1;
    top: 50%;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: #11101d;
    background: #fff;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    transition: all 0.5s easy;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}

.main-content{
    margin-left: 2rem;
    position: absolute;
    height: 100%;
    width: calc(100%-78px);
    left: 78px;
    transition: all 0.5s ease;
}


.sidebar.active ~ .main-content{
    width: calc(100%-240px);
    left: 240px;
}
brand h2{
    color: #444;
}

.brand h2 span{
    color: var(--color-main);
    font-size: 2.5rem;
    display: inline-block;
    margin-right: .5rem;
}

.sidebar-menu{
    margin-top: 9rem;
}

.sidebar-menu li{
    margin-bottom: 1rem;
}

.sidebar-menu a{
    color: var(--main-text);
    display: block;
    padding: .7rem 0rem;
}

.sidebar-menu a.active {
    background-color: var(--main-accents);
    padding: .7rem;
    border-radius: 7px;
}

.sidebar-menu a span:first-child{
    display: inline-block;
    margin-right: .8rem;
    font-size: 1.5rem;
    color: var(--color-main);
}


header{
    display: flex;
    justify-content: space-between;
     
    padding-top: .5rem;
}

.header-title-wrapper{
    display: flex;
}

.header-title-wrapper label{
    display: inline-block;
    color: var(--color-main);
    margin-right:2rem ;
    font-size: 1.8rem;
    cursor: pointer;
}

.header-title h1{
    color: var(--main-text);
    font-size: 600; 
}

.main-content .change{
    margin-top: 7rem;
    position: fixed;
}

.main-content .change p{
    font-weight: 400;
    font-size: 20px;
    color: #333333;
    margin-top: .5rem;
}

.main-content .change .top{
    position: relative;
    display: flex;
    margin-bottom: 2rem;
    margin-left: 5rem;
}

.main-content .change .buttom{
    position: relative;
    display: flex;
    margin-left: 5rem;
}

#limit{
    position: static;
    width: 6rem;
    padding: 8px 15px;
    background: #eeeeee;
    border: 1px solid #dddddd;
    border-radius: 5px;
    outline: none;
    margin-left: 1.5rem;
    color: var(--main-text);
    font-size: 18px;
    padding-right: 2.5rem;
}

#limit::-webkit-outer-spin-button,
#limit::-webkit-inner-spin-button{
    -webkit-appearance: none;
  margin: 0;
}

#mySelect{
    padding: 8px 15px;
    background: #eeeeee;
    cursor: pointer;
    border-radius: 5px  ;    
    outline: none;
    margin-left: 1.5rem;
    color: var(--main-text);
    font-size: 18px;
}

#password{
    
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  background: var(--select);
  font-size: 16px;
  width: 15rem;
  padding: 15px 10px;
  border: 1;
  border: rgb(207, 207, 207);
  outline: none;
  border-radius: 12px; 
  background: #eee;
  margin-left: 2rem;
  padding-right: 3rem;
}

#button{
color: var(--main-text);
font-size: 18px;
font-weight: bold;
margin-left: 2rem;
padding: 10px 15px;
width: 12rem;
border-radius: 12px;
border: 0;
cursor: pointer;
}

#show{
    position: absolute;
    cursor: pointer;
    margin-top: 15px;
    margin-left: -35px;
}

#c{
    margin-left: 5rem;
    margin-top: -2.4rem;
}

#fridge_select{
    color:  #780b7c;
}

@media only screen and (max-width:1224px){

}

@media only screen and (max-width:860px){

}

@media only screen and (max-width:580px){

}

@media only screen and (max-width:500px){

}